.imgTablesCard {
    margin: 0px auto;
    background: url('https://image.flaticon.com/icons/png/512/677/677252.png') blue no-repeat;
    background-size: 80%;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.centered {
    text-align: center;
}

.padingAll {
    padding: 10px;
}

#numeroMesa {
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deleteStyle {
    list-style: none;
}

/* botonera */
.boton-state-active{
    text-decoration: none;
    padding: 50px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #91fa2e;
  }
  .boton_2:hover{
    color: #ffffff;
    background-color: #87fa7d;
    text-decoration: none;
  }

  .boton-state-deactive{
    text-decoration: none;
    padding: 50px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #464646;
  }
  .boton_2:hover{
    color: #464646;
    background-color: #464646;
    text-decoration: none;
  }